<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="danger">{{ getCartItems().length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full" class="ion-no-margin">
    <ion-item *ngFor="let item of getCartItems()" class="item-card">
      <ion-thumbnail slot="start">
        <img [src]="item.menu.image">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{ item.menu.name }}</h2>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: {{ item.menu.price }}</p>
      </ion-label>
      <ion-button slot="end" (click)="removeItem(item)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Delivery Instructions</ion-label>
    <ion-textarea [(ngModel)]="deliveryInstructions" *ngIf="!deliveryInstructionsHidden"></ion-textarea>
    <ion-button expand="full" (click)="toggleDeliveryInstructions()">Toggle Delivery Instructions</ion-button>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-checkbox class="a" [(ngModel)]="delivery">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Delivery</ion-label>
    </ion-checkbox>
  </ion-item>

  <ion-item *ngIf="delivery">
    <ion-radio-group [(ngModel)]="deliveryOption">
      <ion-item>
        <ion-label>Deliver to Office</ion-label>
        <ion-radio slot="start" value="office"></ion-radio>
      </ion-item>

      <ion-item *ngIf="deliveryOption === 'office'">
        <ion-label position="floating">Office Address</ion-label>
        <ion-input [(ngModel)]="officeAddress" placeholder="Enter office address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Deliver to Personal Address</ion-label>
        <ion-radio slot="start" value="personal"></ion-radio>
      </ion-item>

      <ion-item *ngIf="deliveryOption === 'personal'">
        <ion-label position="floating">Personal Address</ion-label>
        <ion-input [(ngModel)]="personalAddress" placeholder="Enter personal address"></ion-input>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-item>
    <ion-label>Order Total</ion-label>
    <ion-label slot="end">{{ getCartService().calculateTotalCost() | currency: 'R' }}</ion-label>
  </ion-item>

  <ion-item *ngIf="delivery">
    <ion-label>Delivery Fee</ion-label>
    <ion-label slot="end">R 35.00</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Total</ion-label>
    <ion-label slot="end">{{ delivery ? (getCartService().calculateTotalCost() + 35) : getCartService().calculateTotalCost() | currency: 'R' }}</ion-label>
  </ion-item>

  <ion-card *ngIf="delivery && deliveryOption === 'office'" class="delivery-card">
    <ion-card-header>
      <ion-icon name="business-outline" class="delivery-icon"></ion-icon>
      <ion-card-title class="delivery-title">Deliver to Office</ion-card-title>
    </ion-card-header>
    <ion-card-content class="delivery-content">
      <ion-icon name="location-outline" class="delivery-info-icon"></ion-icon>
      <p class="delivery-info">Delivery Address:</p>
      <p class="delivery-address">{{ officeAddress }}</p>
      <ion-icon name="document-text-outline" class="delivery-info-icon"></ion-icon>
      <p class="delivery-info">Delivery Instructions:</p>
      <p class="delivery-instructions">{{ deliveryInstructions }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="delivery && deliveryOption === 'personal'" class="delivery-card">
    <ion-card-header>
      <ion-icon name="home-outline" class="delivery-icon"></ion-icon>
      <ion-card-title class="delivery-title">Deliver to Personal Address</ion-card-title>
    </ion-card-header>
    <ion-card-content class="delivery-content">
      <ion-icon name="location-outline" class="delivery-info-icon"></ion-icon>
      <p class="delivery-info">Delivery Address:</p>
      <p class="delivery-address">{{ personalAddress }}</p>
      <ion-icon name="document-text-outline" class="delivery-info-icon"></ion-icon>
      <p class="delivery-info">Delivery Instructions:</p>
      <p class="delivery-instructions">{{ deliveryInstructions }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success" (click)="makePayment()">Make Payment</ion-button>
</ion-content>
