<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">

     <span>Home</span>
     <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="borderBottom">
  <swiper-container [modules]="swiperModules"
  [slidesPerView]="1.2"
  [CenteredSlides]="true"
  [autoplay]="true"
  [pagination]="{clickable:true, dynamicBullets: true}"
  [spaceBetween]="20">

    <swiper-slide>
      <img src="assets/jollof1.jpeg"></swiper-slide>
    <swiper-slide>
      <img src="assets/Shisayanma.jpg">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Sushi.jpg">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Kota.jpg">
    </swiper-slide>

  </swiper-container>
</div>

<ion-list>
  <ion-item *ngFor="let restaurant of restaurants$ | async" (click)="addToCart(restaurant)">
    <ion-thumbnail slot="start">
      <img [src]="restaurant.image">
    </ion-thumbnail>
    <ion-label>
      <h4>{{ restaurant.name }}</h4>
      <ion-text color="medium">
        <p class="pStyle">
          {{ restaurant.type }}
        </p>
      </ion-text>
      <span>
        {{ restaurant.ratings }}
        <ion-icon name="star"></ion-icon>
        .
      </span>
      {{restaurant.timeAway}} R{{ restaurant.price }}
      <ion-text color="tertiary">
        <p class="distance">
          {{ restaurant.distance }}
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
