<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!editMode">
      <ion-label>Name:</ion-label>
      <ion-label>{{ customer.name }}</ion-label>
    </ion-item>
    <ion-item *ngIf="editMode">
      <ion-input [(ngModel)]="customer.name" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item *ngIf="!editMode">
      <ion-label>Email:</ion-label>
      <ion-label>{{ customer.email }}</ion-label>
    </ion-item>
    <ion-item *ngIf="editMode">
      <ion-input [(ngModel)]="customer.email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item *ngIf="!editMode">
      <ion-label>Address:</ion-label>
      <ion-label>{{ customer.address }}</ion-label>
    </ion-item>
    <ion-item *ngIf="editMode">
      <ion-input [(ngModel)]="customer.address" placeholder="Address"></ion-input>
    </ion-item>

    <ion-button *ngIf="!editMode" (click)="editDetails()">Edit</ion-button>
    <ion-button *ngIf="editMode" (click)="saveDetails()">Save</ion-button>
  </ion-list>

  <ion-button expand="block" (click)="toggleHistory()">
    {{ showOrderHistory ? 'Hide' : 'Show' }} Past Orders
  </ion-button>

  <ion-list *ngIf="showOrderHistory">
    <!-- Iterate through each past order -->
    <ng-container *ngFor="let order of pastOrders">
      <!-- Display the order details -->
      <ion-item *ngFor="let item of order.items">
        {{ item.menu.name }} - {{ item.quantity }} x R{{ item.menu.price }}
      </ion-item>
      <ion-item>
        <ion-label>Total Cost</ion-label>
        <ion-label slot="end">R{{ order.totalCost }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Delivery Instructions</ion-label>
        <ion-label slot="end">{{ order.deliveryInstructions }}</ion-label>
      </ion-item>

      <ion-button (click)="reorder(order)">Reorder</ion-button>
      <ion-button color="primary"  style="padding-left:80px;" (click)="openHelpModal()">Get Help</ion-button>
    </ng-container>
    <ion-button expand="block" color="danger" (click)="clearHistory()">Clear Order History</ion-button>
  </ion-list>

</ion-content>
